$font: sans-serif
	
.App
	display: flex
	flex-direction: column
	height: 100vh

	h1
		margin: auto
		font-family: Palatino

	.sc-contain
		margin: auto
		width: 25em
		border-left: 1px solid lightgray
		border-bottom: 1px solid lightgray
		border-right: 1px solid lightgray
		
		.sc-img
			display: block
			max-width: 100%
			height: auto
    
		.sc-desc
			font-family: $font
			padding: 1em

			.sc-desc-h
				margin-top: 0
				margin-bottom: 0

			.sc-desc-p
				margin-bottom: 0.25em
				font-size: 14px

    



